* {
    margin: 0;
    padding: 0;
}

.b-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.pc {
    position: relative;
}

.title-t {
    width: 300px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 12px;
    /* background-color: #fff; */
    position: absolute;
    right: 200px;
    bottom: 50px;
}

.menu {
    width: 300px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    top: -105px;
    left: -1px;
    display: none;
}

.list {
    width: 250px;
    height: 40px;
    margin: 5px auto;
    font-size: 15px;
    color: #000;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 12px;
}

.list a {
    color: #000;
}

.list:hover a {
    text-decoration: underline;
}

i {
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -10px;
}

.title-t:hover .menu {
    display: block;
}