* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
}

.a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vedio video {
    width: 100%;
    height: 100%;
}

.vedio img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    object-fit: cover;
}

.c {
    width: 100%;
    padding-top: 3.9vw;
    padding-bottom: 2.6vw;
}

.c .tittlet {
    width: 100%;
    text-align: center;
    font-size: 1.875vw;
    color: #896E8D;
    letter-spacing: 1px;
    line-height: 2.1875vw;
}

.c .tittleb {
    width: 100%;
    text-align: center;
    font-size: 1.875vw;
    color: #896E8D;
    letter-spacing: 1px;
    line-height: 2.1875vw;
}

.d {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    margin-top: 0.8vw;
}

.d img {
    width: 100%;
    height: auto;
}

.e {
    width: 100%;
    height: 100vh;
    /* padding: 7.9vw 14vw 0 14vw; */
    padding: 7.9vw 19vw 4vw 19vw;
    border-bottom: 1px solid #EBEBEB;
    color: #313131
}

.e .mid-tittle {
    width: 100%;
    text-align: center;
    font-size: 1.77vw;
    font-weight: bold;
    padding-bottom: 2.65vw;
}

.e .mbody {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 4.6vw;
}

.e .mbody .left {
    width: calc(100% - 5vw);
    text-align: center;
}

.e .mbody .left img {
    width: 32vw;
    height: auto;
}

.e mbody .right .r-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.e mbody .right .r-item img {
    width: 1.3vw;
    height: 1.3vw;
}

.e mbody .right .r-item.active span {
    color: #282828;
}

.e mbody .right .r-itemz:nth-child(n+2) {
    margin-top: 1.4vw;
}

.e mbody .right .r-item span {
    font-size: 0.73vw;
    line-height: 0.88vw;
    color: #9a9a9a;
    margin-left: 0.615vw;
}

.e .money {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.e .money .m-mennu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.e .money .m-mennu .m-item {
    /* width: 17vw; */
    width: 14vw;
    height: 5.73vw;
    border: 1px solid #EBEBEB;
    border-radius: 0.26vw;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 1vw 0.8vw 1vw 0.8vw;
    cursor: pointer;
}

.e .money .m-mennu .m-item .left .l-opt:nth-child(1) {
    border-bottom: 1px solid #979797;
}

.e .money .m-mennu .m-item .left .l-opt {
    font-size: 1.1vw;
    line-height: 1.5vw;
    letter-spacing: 2px;
    color: #313131;
    font-weight: bold;
}

.e .mbottom {
    width: 100%;
    padding-top: 2.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e .mbottom .b-btn {
    width: 13vw;
    margin-left: 4.6875vw;
    height: 2vw;
    border-radius: 0.26vw;
    border: 1px solid #8667AA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375vw;
    color: #8667AA;
    cursor: pointer;
}

.f {
    width: 100%;
    padding-top: 5.67vw;
    padding-bottom: 2.1vw;
}

.f .tittle {
    text-align: center;
    font-size: 1.77vw;
    line-height: 1.6vw;
    font-weight: bold;
    color: #000;
}

.g {
    width: 100%;
    height: 100vh;
    background: #333;
}

.yz {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.text {
    width: 100%;
    /* padding: 5.4vw 19.375vw 2vw 19.375vw; */
    border-bottom: 1px solid #EBEBEB;
}

.h {}